    body {
      font-family: 'Palatino',serif;
      padding-top: 120px;
      font-size: 18px;
      line-height: 30px;
    }

    h1, h2, h3, p, table {
      margin: 20px;
    }

    .table {
      width: 96%;
      font-size: 18px;
    }

    ul {
      margin-left: 20px;
    }

    #references li {
      font-size: 18px;
    }

    #references ul {
       list-style-type: none;
       padding-left: 0px;
    }

    #sponsors p {
      font-size: 18px;
      font-style: italic;
    }

    #pc td {
      padding-right: 3em;
      padding-left: 1em;
    }

    #program p {
    	font-size: 18px;
    	margin: 0px;
    }

    #program td {
    	padding: 10px;
    	padding-top: 0px;
    }

    table .time {
      width: 160px;
    }

    :target::before {
      content: "";
      display: block;
      height: 60px; /* fixed header height*/
      margin: -60px 0 0; /* negative fixed header height */
    }

    @media (min-width: 768px) {
      .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
      }

      .navbar .navbar-collapse {
        text-align: center;
      }

      :target::before {
        height: 120px; /* fixed header height*/
        margin: -120px 0 0; /* negative fixed header height */
      }
    }

    @media (min-width: 1200px) {
      .container {
          width: 1000px;
      }

      #header {
          width: 1200px;
      }

      body {
      padding-top: 60px;
    }

      :target::before {
        height: 60px; /* fixed header height*/
        margin: -60px 0 0; /* negative fixed header height */
      }
    }