---
layout: default
id: 34
slides_live_id: 38926476
rocket_id: baics_channel_34
meeting_url: https://us02web.zoom.us/j/83626614491
authors: "Payel Das, Brian Quanz, Pin-Yu Chen, Jae-wook Ahn, and Dhruv Shah"
camera_ready: true
cmt_id: 51
kind: poster
session_id: 2
session_title: "Session 2 (9-10pm GMT)"
title: "Toward A Neuro-Inspired Creative Decoder"
track: research
live: false
layout: default
video: true
chat: true
session_1: false
session_2: true
---

<div class="row justify-content-center">
<div class="paper text-center">
	<h3>{{ page.title }}</h3>
	<ul>
		<li><b>{{ page.authors }}</b></li>
		<li>
		<span>
			{% if page.track == "blue_sky" %}
			Blue Sky Ideas Track
			{% elsif page.track == "research" %}
			Research Track
			{% elsif page.track == "invited" %}
			Invited Talk
			{% elsif page.track == "opening" %}
			Opening Remarks
			{% endif %}
		</span>
		{% if page.kind == "oral" %}
		<span> (Oral)</span>
		{% elsif page.kind == "spotlight" %}
		<span> (Spotlight)</span>
		{% endif %}
		</li>

		{% if page.session_id > 0 %}
		<li>
		{% if page.camera_ready %}
		<span><a href="/pdf/BAICS_{{ page.id }}.pdf" target="_blank">PDF</a></span>
		{% else %}
		<span>PDF</span>
		{% endif %}
		{% if page.session_id == 1 and page.session_1 and page.meeting_url %}
		<span> · </span>
		<span><a href="{{ page.meeting_url }}" target="_blank">Join Meeting Room</a></span>
		<span> · </span>
		<span><a href="https://iclr.cc/virtual/workshops_4.html" target="_blank">Password</a></span>
		{% elsif page.session_id == 2 and page.session_2 and page.meeting_url %}
		<span> · </span>
		<span><a href="{{ page.meeting_url }}" target="_blank">Join Meeting Room</a></span>
		<span> · </span>
		<span><a href="https://iclr.cc/virtual/workshops_4.html" target="_blank">Password</a></span>
		{% endif %}
		</li>
		{% endif %}

	</ul>
</div>
</div>

<div class="row justify-content-center">
  <div class="col">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/iwflqMT-Iog" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  
  <div class="col">
	{% if page.chat %}
    <div class="rocket">
      <iframe frameborder="0" src="https://iclr.rocket.chat/channel/{{ page.rocket_id }}?layout=embedded" width="100%" height="680px"></iframe>
    </div>
    {% else %}
    <div class="text-center"><i>Chat coming soon!</i></div>
	{% endif %}
  </div>
</div>
